# Default owners for the entire repository
*       @JohBloch

# Workflows and repository meta
.github/ @JohBloch

# Library source
src/    @JohBloch

# Tests
tests/  @JohBloch

# Examples and docs
samples/ @JohBloch
docs/     @JohBloch
